body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
header{
    background-color: #fee1bd;
    color: #6f5a62;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

img {
    height: auto;
    width: 600px;
    
}
.nav-bar{
    list-style: none;
    display: flex;
    gap: 30px;
}

.title-header{
    width: 600px;
}

.main-text{
    font-size: 50px;
    font-weight: 600;
}

.sub-text{
    font-size: 18px;
    font-family: Hero Secondary text, Header Link Text;
}

.logo{
    display: flex;
    align-items: center;
}

li{
    text-decoration: none;
}
.top-container{
    color: #4f3039;
    background-color: #fee1bd;
    display: flex;
    padding: 80px;
    justify-content: center;
    height: 500px;
}

.mid-container{
    background-color: #fef2dc;
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
}

.image-container{
    display: flex;
}

.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    
}

.illustration{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-radius: 20px;
    border-color: #3d341e;
}

.header-info{
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    padding: 20px;
    color: #4f3039;
}